body,html{width: 100%;height: 100%;}

h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form,input,textarea {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

body {
  margin: 0 auto;
  background:#fff3a9;
  font-family:"游明朝",YuMincho,"ヒラギノ明朝　ProN W3","Hiragino Mincho ProN","HG明朝E","MS P明朝","MS 明朝",serif;
}
header img{
  height: 90px;
}
header #logo_img img{
  height:120px;
  float:left;
}


.login-text{
  text-align: right;
}
header {
  height:130px;
  background-color:#fffddb;
  padding: 15px 15px 0px 15px;
  border-bottom:2.5px solid #895a1b;
}

.container{
    text-align: center;
}
 .big-container {
  overflow:hidden;
  display: flex;
}
.main-container{
  float:left;
  padding: 20px;
  height:700px;

  border-right:2.5px solid #895a1b;
  flex: 1;

}
.side-box{
  border-bottom:1px solid #895a1b;
  background-color: #fff3a9;
  color:#895a1b;
  text-align: left;
  font-size: 40px;
}
.side-box:hover{
  background-color: #dbcc88;
}
.small-logo{
  float:center;
}

.sub-container {
  float:left;
  padding: 20px;
  height:700px;
  background: #dbcc88;
  flex: 3;
}

.task_display {
width:auto;
height: 45%;
margin: 20px;
border-radius:15px 15px 15px 15px;
background-color: #ffffff;
padding:10px;

}

.diary_display {
width:auto;
height: 45%;
margin: 20px;
border-radius:15px 15px 15px 15px;
background-color: #ffffff;
padding:10px;
}

.sub-container h1 {
font-size: 20px;
color: #895a1b;
text-align: center;

}

.logo-box {
  text-align: center;
}

a{
   text-decoration: none;
}

footer{
  border-top:2.5px solid #895a1b;
  padding-top: 20px;
  margin-bottom: 10px;
}
footer p{
  margin:0;
  min-height: 100%;
  text-align:center;
  font-size: 10px;
}




.session{
  width: 500px;
  margin: auto;
  background-color: #ffffff;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 25px;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
}
.session label{
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  display: block;
}
.session input{
  display: block;
  margin-left: 20px;
  margin-top: 10px;
  width: 400px;
}

.session button{
  margin-top: 20px;
  font-size: 20px;
}

.session p{
  font-size: 15px;
  text-align: right;
  margin:10px;
}
.session span{
  font-size: 15px;
  text-align: center;
  margin:10px;
}
.session #error{
  color: red;
  font-size: 15px;
  text-align: left;
  margin-left:30px;
  list-style-type: disc;
}
